# @see https://spla2.yuu26.com/
# > プログラムに組み込む際は、User-Agent をなるべく設定してください。
# > 形式は問いませんが、連絡先が分かる形式だと嬉しいです。（例: Ikabot/1.0 (twitter @m_on_yu) IkaGirl/2.0 (+https://example.com/) など）
USER_AGENT="Ikabot/1.0 (twitter @)"
PORT=80
HEROKU_KEEP_ALIVE_URL=http://localhost
HEROKU_KEEP_SLEEP_TIME=4:00
HEROKU_KEEP_WAKEUP_TIME=12:00

# for discord
HUBOT_DISCORD_TOKEN=
HUBOT_MAX_MESSAGE_LENGTH="2000"

# keep alive
HUBOT_HEROKU_KEEPALIVE_URL=
HUBOT_HEROKU_SLEEP_TIME=4:00
HUBOT_HEROKU_WAKEUP_TIME=12:00

TZ=Asia/Tokyo
HUBOT_ADAPTER=discord
