# @see https://spla2.yuu26.com/
# > プログラムに組み込む際は、User-Agent をなるべく設定してください。
# > 形式は問いませんが、連絡先が分かる形式だと嬉しいです。（例: Ikabot/1.0 (twitter @m_on_yu) IkaGirl/2.0 (+https://example.com/) など）
USER_AGENT="Ikabot/1.0 (twitter @)"

# for discord
DISCORD_TOKEN=

# for slack
SLACK_BOT_TOKEN=
SLACK_SIGNING_SECRET=
SLACK_APP_TOKEN=

TZ=Asia/Tokyo
