name: Build

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: lts/*
      - name: Restore cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5
        with:
          path: node_modules
          key: ui-cache-${{ hashFiles('package.json') }}
      - name: Install dependencies
        run: make install
      - name: Compile TypeScript
        run: make tsc
      - name: Run tests
        run: make test